[github]
	user = hamo
	token = 4b83b946e3357657f13d5c78632638ac
[user]
	name = Yang Bai
	email = hamo.by@gmail.com
[color] # Ensure we get color
	diff	 = auto
	branch	 = auto
	status	 = auto
	grep	 = auto
[sendemail]
        smtpencryption = tls
        smtpserver = smtp.gmail.com
        smtpuser = hamo.by@gmail.com
        smtpserverport = 587
[alias]
        lc  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date=relative
